/**
 * Publishing Flow Customizer CSS.
 */

#customize-header-actions .spinner {
	display: none;
}

.pf-customizer-publish-wrap {
	float: right;
	margin-top: 5px;
	padding-top: 2px;
}

.pf-customizer-publish.button-primary {
	font-size: 16px;
	padding: 2px 15px;
	height: 31px;
	margin-top: 0px !important;
	display: block;
	float: right;
}

.pf-customizer-publish.button-primary.pf-disabled {
	color: #ccc !important;
	background: #f7f7f7 !important;
	border-color: #ccc !important;
	box-shadow: 0 1px 0 #ccc !important;
	text-shadow: 0 0 0 white !important;
}

.pf-customizer-publish.pf-disabled:hover {
	cursor: not-allowed;
}

.pf-customizer-publish-wrap .pf-spinner {
	display: inline-block !important;
	margin-top: 7px !important;
	margin-right: 7px !important;
}

#customize-controls .customize-info {
	background-color: #fff;
	padding: 0 20px;
	z-index: 10;
	margin-bottom: 10px;
}

.pf-welcome h2 {
	margin-bottom: 10px;
}

.pf-welcome p {
	font-size: 12px;
}

.pf-required-notifications {
	position: absolute;
	left: 0;
	top: -105px;
	padding: 0 20px;
	transition: top 0.3s;
	border-bottom: 3px solid #FF6D6D;
}

.pf-required-notifications.visible {
	top: -15px;
	background-color: #fff;
	padding: 2px 20px 16px;
}

.pf-required-notifications p {
	max-width: calc( 100% - 22px );
}

.pf-required-notifications .dashicons {
	color: #E44848;
	position: absolute;
	top: 15px;
	right: 20px;
}

.pf-required-notifications a:hover {
	text-decoration: underline !important;
}

.pf-customizer {
	padding: 0 16px 4px;
	transition: padding 0.3s;
}

.pf-customizer.pf-required-notifications-open {
	padding-top: 102px;
}

.pf-customizer div {
	overflow: hidden;
}

.pf-customizer .pf-calendar-icon {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 22px;
	height: 22px;
	width: 22px;
	z-index: -1;
}

.pf-customizer .pf-status .dashicons,
.pf-customizer .pf-status .dashicons:before {
	font-size: 30px;
	width: 30px;
	height: 30px;
}

.pf-customizer .pf-all-good {
	color: green;
}

.pf-customizer .pf-no-good {
	color: #E44848;
}

.pf-customizer .pf-section {
	padding: 0 0 10px 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.pf-customizer .pf-section:last-child {
	border-bottom: 0;
}

.pf-customizer .pf-post-info-section {
	margin-top: -5px;
}

.pf-customizer .pf-publish-date {
	margin: -3px 0 8px;
}

.pf-customizer .pf-publish-date strong {
	margin-left: 2px;
}

.pf-customizer .pf-section-label {
	margin: 0 0 18px;
}

.pf-customizer .pf-field {
	margin-bottom: 10px;
}

.pf-customizer .pf-field:last-child {
	margin-bottom: 0;
}

.pf-customizer .pf-label h3 {
	float: left;
	width: calc( 100% - 30px );
	margin-top: 6px;
	margin-bottom: 6px;
}

.pf-customizer .pf-label .pf-status {
	float: right;
	width: 30px;
	text-align: right;
}

.pf-customizer .pf-value {
	max-width: calc( 100% - 30px );
}

.pf-customizer .pf-value p {
	margin: 0 0 10px;
	font-size: 12px;
}

.pf-device-notifications {
	position: absolute;
	bottom: -60px;
	background-color: #fff;
	padding: 0 20px;
	border-top: 3px solid #FF6D6D;
	transition: bottom 0.3s;
}

.pf-device-notifications.visible {
	bottom: 45px;
}

#customize-footer-actions {
	background-color: #eee;
}

.pf-device-notifications .dashicons {
	margin-left: 30px;
	transform: rotateZ( -40deg );
}

/* iPhone 5 size */
.preview-mobile .wp-full-overlay-main {
	width: 335px;
	height: 568px;
}

.featherlight .featherlight-content {
	background-color: #eee;
}

.featherlight .featherlight-close-icon {
	width: 50px;
	line-height: 50px;
	font-size: 25px;
	font-weight: bold;
	background: none;
}

.featherlight .featherlight-close-icon:hover {
	background-color: #ddd;
}

.featherlight .featherlight-close-icon:active {
	background-color: #ccc;
}

.pf-publish-success,
.pf-schedule-success,
.pf-publish-fail {
	display: none;
}

.pf-lightbox {
	text-align: center;
	padding: 20px 30px;
}

.pf-lightbox h1 {
	font-size: 3em;
}

.pf-lightbox h2 {
	font-size: 1.6em;
	margin-top: 35px;
	line-height: 1.8;
}

.pf-lightbox p {
	font-size: 16px;
}

.pf-button {
	margin: 10px 4px 0 !important;
	font-size: 18px !important;
	height: auto !important;
	padding: 6px 16px !important;
}