/**
 * Publishing Flow Admin CSS.
 */

.pf-hidden {
	display: none !important;
}

.publishing-flow-requirements-status {
	padding: 6px 10px 8px;
	line-height: 23px;
	cursor: pointer;
}

.publishing-flow-requirements-status .dashicons-yes,
.publishing-flow-requirements-status .dashicons-no-alt {
	font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: -4px;
    margin-right: 4px;
}

.publishing-flow-requirements-wrap .dashicons-yes {
	color: green;
}

.publishing-flow-requirements-wrap .dashicons-no-alt {
	color: red;
}

.publishing-flow-requirements-status .dashicons-arrow-down,
.publishing-flow-requirements-status .dashicons-arrow-up {
	float: right;
}

.publishing-flow-requirements-status .dashicons-arrow-up {
	display: none;
}

.publishing-flow-requirements-status .dashicons-arrow-down {
	display: inline-block;
}

.publishing-flow-requirements-wrap.active .publishing-flow-requirements-status .dashicons-arrow-up {
	display: inline-block;
}

.publishing-flow-requirements-wrap.active .publishing-flow-requirements-status .dashicons-arrow-down {
	display: none;
}

.publishing-flow-requirements-wrap .pf-section {
	display: none;
}

.publishing-flow-requirements-wrap.active .pf-section {
	display: block;
}

.publishing-flow-requirements-wrap h2.pf-section-label {
	font-size: 16px !important;
	margin-bottom: 10px !important;
}

.publishing-flow-requirements-wrap .pf-label {
	overflow: hidden;
}

.publishing-flow-requirements-wrap .pf-label h3 {
	width: calc( 100% - 27px );
	float: left;
	margin: 0;
	padding-left: 2px;
	font-size: 14px;
}

.publishing-flow-requirements-wrap .pf-status {
	width: 25px;
	float: left;
}

.publishing-flow-requirements-wrap .pf-status .dashicons {
	font-size: 25px;
	width: 25px;
}

.publishing-flow-requirements-wrap .pf-field {
	padding: 0 10px;
	margin-bottom: 16px;
}

.publishing-flow-requirements-wrap .pf-value {
	clear: both;
	margin-top: 2px;
	width: calc( 100% - 25px );
}

.publishing-flow-requirements-wrap .pf-value p {
	margin: 0;
	padding-left: 2px;
}
